version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/Dev"
    schedule:
      interval: "monthly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "image" # breaking changes after v0.24.9
      - dependency-name: "polars" # breaking changes after v0.51.0
